<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WCCPostalCode</display-name>

	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>/WEB-INF/log4jConfig.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>Postal Code Distance</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.wcc.interview.postal.code.distance.service;com.wcc.interview.postal.code.distance.auth</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.filter.LoggingFilter</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.tracing</param-name>
			<param-value>ALL</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Config Loader</servlet-name>
		<servlet-class>com.wcc.interview.postal.code.distance.service.config.CustomJerseyConfigLoader</servlet-class>
		<init-param>
			<param-name>db-config-properties-location</param-name>
			<param-value>/home/arthy/git/ukpostcode/WCCPostalCode/WebContent/WEB-INF/db_config.properties</param-value>
		</init-param>
		<init-param>
			<param-name>user-config-properties-location</param-name>
			<param-value>/home/arthy/git/ukpostcode/WCCPostalCode/WebContent/WEB-INF/user_config.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Postal Code Distance</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>